body {
    background-color: #f8f9fa;
  }

  /* Navbar */
  .navbar {
    background-color: #1a1a1a;
  }

  .navbar .nav-link {
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
  }

  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #f5b754;
  }

  /* Table container */
  .history-container {
    margin-top: 100px;
  }

  .table-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .btn-custom {
    background-color: #ff5722;
    color: white;
    border: none;
  }

  .btn-custom:hover {
    background-color: #e64a19;
  }

  /* Footer */
  footer span,
  footer p,
  footer a {
    color: whitesmoke;
  }

  footer h1,
  footer h5 {
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1em;
  }

  .fotter-list i {
    font-size: 2rem;
    width: 4rem;
  }

  footer a:hover {
    color: #f5b754;
  }

  footer i {
    color: #f5b754; 
    transition: 0.3s;
    font-size: 2rem;
  }

  footer i:hover {
    transform: scale(1.2);
  }